/**BACKGROUND**/
.bs-green{
    background-color: var(--bs-green);
}
.bs-grey{
    background-color: var(--bs-grey);
}
.bs-light-green{
    background-color: var(--bs-light-green);
}
.bs-acquamarine{
    background-color: var(--bs-acquamarine);
}
.bs-light-grey{
    background-color: var(--bs-light-grey);
}
:root{
    --bs-green:#00A884;
    --bs-grey:#E0E0DD;
    --bs-light-green:#D9FDD3;
    --bs-light-grey:#F0F2F5;
    --bs-acquamarine:#53BDEB;
}
/**UTILITIES**/
.fs-7{
    font-size: 0.8rem;
}
i{
    cursor: pointer;
}
/**CONTAINER-FLUID**/
.container-fluid{
    height: 100vh;
    background-image: linear-gradient(to bottom,#00A884 20%, #E0E0DD 20%,#E0E0DD 20%,#E0E0DD 20%,#E0E0DD 20%);
    padding: 20px 0;
}
/**CONTAINER**/
.container{
    height: 90vh;
    width: 1200px;
}
/**LEFT COL**/
#left-col{
    height: 100%;
}
.row{
    height: 100%;
}


#contacts{
    overflow-y: auto;
    background-color: #ffffff;
    flex-grow: 1;
}
#contact:hover{
    background-color: var(--bs-grey);
}

/**Icon**/
.icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.fas,
.far{
    color: #AEBAC1;
}
.fa-bell-slash{
    color:var(--bs-acquamarine);
}
/**SEARCH**/
#search{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
input[type='search']{
    border: none;
    flex-grow: 1;
    font-size: 1rem;
    margin-left: 0.5rem;
    outline-offset: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
input[type='search']:focus-visible,
input[type='text']:focus-visible{
    outline: none;
}
/**RIGHT-COL**/
#right-col{
    height: 100%;
}
/**INPUT TEXT**/
input[type='text']{
flex-grow: 1;
border: none;
padding: 5px;
}

/**MAIN-Message**/
#main{
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}
/*? Received-message*/
.received-message,
.send-message{
    width: 230px;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 0.95rem;
}
.container-message{
    display: block;
    height: 80px;
    position: relative;
}
.received-message{
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top:50%;
    transform: translate(0,-50%);
    margin-left: 32px;
    
}
.send-message{
    background-color: #D9FDD3;
    position: absolute;
    right: 0;
    top:50%;
    transform: translate(0,-50%);
    margin-right: 32px;
}
/*?------------------------------------------ */